<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/lib/layui/css/layui.css">
    <!--[if IE 6]>
        <script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
        <script>DD_belatedPNG.fix('*');</script>
        <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
    <style>
        .layui-table-cell {
            height: inherit;
        }

        .layui-table-cell a {
            text-decoration: none;
        }
    </style>

    <title>品牌管理</title>
</head>

<body>
    <!-- 导航 -->
    <include File='Page/nav' />
    <!-- /导航 -->
    <div class="page-container">
        <div class="panel panel-default mt-40">
            <div class="panel-header">{$bc[1]}</div>
            <div class="panel-body">

                <div class="row cl">
                    <div class="col-sm-4">
                        <a href="{:U('Brand/add')}">
                            <button class="layui-btn layui-btn-normal">
                                <i class="Hui-iconfont">&#xe603;</i> 添加品牌</button>
                        </a>
                    </div>
                    <div class="col-sm-8 f-r">
                        <form class="layui-form f-r" action="">
                            <div class="layui-inline">
                                <div class="layui-input-inline" style="width: 260px;">
                                    <input type="text" name="brand_name" placeholder="请输入品牌名称" autocomplete="off" class="layui-input" value="">
                                </div>
                                <button class="layui-btn layui-btn-normal" lay-submit name="submit" lay-filter="*">
                                    <i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="cl mt-20">
                    <div class="btn-group l">
                        <span class="btn btn-primary" title="全选" lay-filter="allCheckbox" id="allCheckbox">
                            <i class="Hui-iconfont f-16">&#xe676;</i> 全选</span>
                    </div>

                    <!--                 批量删除会检测品牌下商品 但是不能有效提示那个品牌有商品所以还是单个删除吧    
                    <div class="btn-group l ml-5">
                        <span class="btn btn-primary" title="删除" id="isDel">
                            <i class="Hui-iconfont f-16">&#xe6dc;</i> 删除</span>

                    </div> -->

                    <div class="btn-group l ml-5">
                        <span class="btn btn-primary" title="推荐" id="isType">
                            <i class="Hui-iconfont">&#xe697;</i> 推荐</span>
                    </div>
                </div>
                <table id="demo" lay-filter="test" lay-data="{id: 'idTest'}"></table>

            </div>
        </div>
    </div>

    <!-- 底部 -->
    <include File='Page/footer' />
    <!-- /底部 -->

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-sm" href="{:U('Brand/add')}?id={{d.id}}">编辑</a>
        <a class="layui-btn layui-btn-sm  layui-btn-normal" lay-event="to">查看产品</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
    </script>

    <script type="text/html" id="type">
        {{# if(d.type == 1){ }}
        <span style="color: #009688;" lay-event="type">
            <strong>
                <i class="Hui-iconfont">&#xe6a7;</i> 推荐</strong>
        </span>
        {{# }else{ }}
        <span style="color: #999999;" lay-event="type">
            <strong>
                <i class="Hui-iconfont">&#xe6a6;</i> 非推荐</strong>
        </span>
        {{# } }}

    </script>

    <script type="text/html" id="photo">
        {{# if(d.photo === ""){ }}
        <div>
            <img src='/Public/admin/images/nophoto.png' width='80px' height='80px' />
        </div>
        {{# }else{ }}
        <div>
            <img src='/Data/{{d.photo}}' width='80px' height='80px' />
        </div>
        {{# } }}
    </script>

    <script>
        var table = layui.table;
        var form = layui.form;
        var brands;

        /*=============================================
        =            头部检索表单提交                  =
        =============================================*/

        form.on('submit(*)', function (data) {
            //console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            var field = data.field;

            if (field.brand_name != ' ') {
                tableIns.reload({
                    url: "{:U('Brand/getBrands')}",
                    where: { //设定异步数据接口的额外参数，任意设
                        brand_name: field.brand_name,
                    }
                });
            } else {
                //console.log('ddd');
                tableIns.reload({
                    url: "{:U('Brand/getBrands')}"
                });
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        /*=====  End of 头部检索表单提交  ======*/

        /*=============================================
        =            渲染实例            =
        =============================================*/

        var tableIns = table.render({
            elem: '#demo',
            height: 'full-320',
            url: "{:U('Brand/getBrands')}",
            page: true,
            cellMinWidth: 80,
            cols: [
                [{
                    field: 'id',
                    title: 'ID',
                    width: '5%',
                    sort: true,
                    checkbox: true,
                }, {
                    field: 'id',
                    title: 'ID',
                    width: '7%',
                    align: 'center',
                    sort: true,
                }, {
                    field: 'photo',
                    title: 'LOGO图片',
                    width: '20%',
                    align: 'center',
                    templet: '#photo'
                }, {
                    field: 'name',
                    title: '品牌名称',
                    width: '12%',
                    //templet: "<div><a herf='JavaScript:;' title='{{d.name}}' stytle='text-decoration:none;'>{{d.name}}</a></div>"
                    templet: function (d) {
                        return "<div><a herf='JavaScript:;' title='" + d.name +
                            "' stytle='text-decoration:none;'>" + d.name + "</a></div>"
                    }
                }, {
                    field: 'company',
                    title: '公司名称',
                    width: '20%',
                    templet: function (d) {
                        return "<div><a herf='JavaScript:;' title='" + d.company +
                            "' stytle='text-decoration:none;'>" + d.company + "</a></div>"
                    }
                }, {
                    field: 'tel',
                    title: '联系电话',
                    width: '10%',
                    templet: function (d) {
                        return "<div><a herf='JavaScript:;' title='" + d.tel +
                            "' stytle='text-decoration:none;'>" + d.tel + "</a></div>"
                    }
                }, {
                    field: 'type',
                    title: '推荐',
                    width: '10%',
                    align: 'center',
                    sort: true,
                    templet: "#type"

                }, {
                    field: 'cz',
                    title: '操作',
                    width: '14%',
                    align: 'center',
                    toolbar: '#barDemo'
                }]
            ],
            done: function (res, curr, count) {
                //数据渲染完的回调 
                //把返回数据赋值给全局函数
                brands = res.data;
            },
        });

        /*=====  End of 渲染实例  ======*/


        /*=============================================
        =            请求后台数据            =
        =============================================*/
        function getData(id, filed, value, re) {
            $.ajax("{:U('Brand/setBrandAtrr')}", {
                method: 'POST',
                data: {
                    id: id,
                    filed: filed,
                    val: value,
                },
                dataType: 'json',
                success: function (e) {
                    //console.log(e);
                    //批量操作时重读整个页面
                    if (re) {
                        tableIns.reload();
                    }
                    if (e.code == 0) {
                        layer.msg('更新数据失败!', {
                            icon: 2
                        });
                    }
                },
                error: function (e) {
                    console.log(e);
                }

            });
        }
        /*=====  End of 请求后台数据  ======*/

        /*=============================================
        =            监听单元点击更新属性              =
        =============================================*/

        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            //推荐
            if (layEvent === 'type') {
                var value = (data.type == 1) ? 0 : 1;
                obj.update({
                    type: value
                });
                getData(data.id, layEvent, value);
            }
            //删除
            if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    layer.close(index);
                    //向服务端发送删除指令
                    var url = "{:U('del')}?did=" + data.id;
                    $.ajax(url, {
                        method: 'GET',
                        dataType: 'json',
                        success: function (e) {
                            console.log(e);
                            if (e.code) {
                                layer.msg(e.msg, {
                                    icon: 2
                                });
                            } else {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });
            }

            //查看
            if (layEvent === 'to') {
                layer.open({
                    type: 2,
                    title: '品牌下商品',
                    area: ['1280px', '800px'],
                    fixed: false, //不固定
                    maxmin: true,
                    shadeClose: true,
                    content: "{:U('get_goods')}?bid=" + data.id
                });
            }
        });

        /*=====  End of 监听单元点击更新属性  ======*/




        /*=============================================
        =            选中操作                          =
        =============================================*/

        $("#allCheckbox").click(function () {
            let is_checked = $("table input[type='checkbox']").prop('checked');
            let c = is_checked ? false : true;
            $("table input[type='checkbox']").prop('checked', c);

            //这个渲染必须用这个
            form.render('checkbox');
            //上面是样式上选取 下面这是数据上选取 只有这样才可以使用 table.checkStatus 来查看选取内容
            for (var i = 0; i < brands.length; i++) {
                brands[i]["LAY_CHECKED"] = c;
            }
        });

        /*=====  End of 选中操作  ======*/


        /*----------  处理选中数据 返回 id 数组  ----------*/
        function getList() {
            var checkStatus = table.checkStatus('demo'); //test即为基础参数id对应的值
            var ids = _.map(checkStatus.data, 'id');
            return ids;
        }

        /*=============================================
        =            批量操作                         =
        =============================================*/

        //批量推荐
        $("#isType").click(function () {
            let list = getList();
            getData(list, 'type', 1, 1);

        });

        /*=====  End of 批量操作  ======*/
    </script>

</body>

</html>