<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/lib/layui/css/layui.css">
    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <style>
        .layui-table-cell {
            height: inherit;
        }

        .layui-table-cell a {
            text-decoration: none;
        }
    </style>

    <title>门店管理</title>
</head>

<body>
    <!-- 导航 -->
    <include File='Page/nav' />
    <!-- /导航 -->

    <div class="page-container">
        <div class="panel panel-default mt-40">
            <div class="panel-header">{$bc[1]}</div>
            <div class="panel-body">

                <form class="form form-horizontal layui-form" action="{:U(downloadbill)}" method="post" id="commentForm" enctype="multipart/form-data">
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">对账日期：</label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text" placeholder="对账日期. 必填字段!" name="bill_date" id="bill_date" required>
                        </div>

                        <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">对账日期：</label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4">
                            <select class="lay-search" name="bill_type" id="bill_type" lay-filter="bill_type" lay-search lay-verify="cateid">
                                <option value="ALL">所有订单信息</option>
                                <option value="SUCCESS">成功支付的订单</option>
                                <option value="REFUND">退款订单</option>
                            </select>
                        </div>

                        <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row cl">
                        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="btn btn-primary radius" lay-submit lay-filter="*" type="submit" name="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- 底部 -->
    <div style="position:fixed; bottom:0; width:100%">
        <include File='Page/footer' />
    </div>
    <!-- /底部 -->
    <script>
        $("#commentForm").validate();
        var form = layui.form;

        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#bill_date',
            format : 'yyyyMMdd'
        });

        /*=============================================
        =            头部检索表单提交                  =
        =============================================*/

        form.on('submit(*)', function (data) {
            //console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            let value = data.field.bill_date;
            if (parseInt(value) < 0 || isNaN(value) || value == "") {
                layer.alert("请选择日期!", {
                    icon: 2
                });
            } 

            return true; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        /*=====  End of 头部检索表单提交  ======*/
    </script>
</body>

</html>