<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/welcome.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
    <title>管理首页</title>

</head>

<body style="background-color:#ECF0F5;">
    <!-- 面包屑 -->
    <include File='Page/nav' />
    <!-- /面包屑 -->

    <div class="page-container cl">
        <!-- 第一行 四格统计 开始 -->
        <div class="row cl mt-20">
            <div class="col-lg-3 col-md-3 col-xs-6 mt-20">
                <div class="panel panel-secondary">
                    <div class="panel-header">订单总金额
                        <span class="label label-default  radius" style="float: right;">今日</span>
                    </div>
                    <div class="panel-body text-c">
                        <i class="Hui-iconfont Hui-iconfont-hongbao" style="font-size:3rem"></i>
                        <span class="num">&yen;{$todayAmount}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 mt-20">
                <div class="panel panel-success">
                    <div class="panel-header">订单数量
                        <span class="label label-default  radius" style="float: right;">今日</span>
                    </div>
                    <div class="panel-body text-c">
                        <i class="Hui-iconfont Hui-iconfont-order" style="font-size:3rem"></i>
                        <span class="num">{$todayCount}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 mt-20">
                <div class="panel panel-warning">
                    <div class="panel-header">客户人数
                        <span class="label label-default  radius" style="float: right;">总</span>
                    </div>
                    <div class="panel-body text-c">
                        <i class="Hui-iconfont Hui-iconfont-user2" style="font-size:3rem"></i>
                        <span class="num">{$userCount}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 mt-20">
                <div class="panel panel-danger">
                    <div class="panel-header">商品数量
                        <span class="label label-default  radius" style="float: right;">总</span>
                    </div>
                    <div class="panel-body text-c">
                        <i class="Hui-iconfont Hui-iconfont-goods" style="font-size:3rem"></i>
                        <span class="num">{$productCount}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /第一行 四格统计 结束 -->

        <!-- 第二行 -->
        <div class="row cl mt-20">
            <div class="col-lg-8 mt-20">
                <!-- 交易提示  -->
                <div class="panel">
                    <div class="panel-header">
                        <i class="i-circular"></i>交易提示
                        <span class="info">您需要立即处理的交易订单</span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <volist name="orderStatus" id="vo">
                                    <td>
                                        <div class="row cl text-c">
                                            <a href="{:U('Order/index?pay_status='.$vo['key'])}" style="text-decoration: none;">
                                                <div class="col-lg-12">
                                                    <strong class="goods_sale_count">{$vo.count}</strong>
                                                </div>
                                                <div class="col-lg-12">{$vo.title}</div>
                                            </a>
                                        </div>
                                    </td>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /交易提示  -->

                <!-- 店铺及商品提示 -->
                <div class="panel mt-10">
                    <div class="panel-header">
                        <i class="i-circular"></i>商品提示
                        <span class="info">您需要关注的店铺信息以及待处理事项</span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <volist name="productStatus" id="vo">
                                        <td>
                                            <div class="row cl text-c">
                                                <a href="{:U('Product/index')}" style="text-decoration: none;">
                                                    <div class="col-lg-12">

                                                        <strong class="goods_sale_count">{$vo.count}</strong>

                                                    </div>
                                                    <div class="col-lg-12">{$vo.title}</div>
                                                </a>
                                            </div>
                                        </td>
                                    </volist>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /店铺及商品提示 -->

                <!-- 订单总数统计 -->
                <div class="panel mt-10">
                    <div class="panel-header">
                        <i class="i-circular"></i>订单总数统计
                        <span class="info">不同时间段订单总和</span>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group pos-a" style="z-index:2">
                            <span class="btn btn-primary radius" onclick="orderCharts.t(this)">今日</span>
                            <span class="btn btn-default radius" onclick="orderCharts.y(this)">昨日</span>
                            <span class="btn btn-default radius" onclick="orderCharts.w(this)">本周</span>
                            <span class="btn btn-default radius" onclick="orderCharts.m(this)">本月</span>
                        </div>
                        <div id="order-charts" style="width:100%;height:200px;"></div>
                    </div>
                </div>
                <!-- /订单总数统计 -->

                <!-- 订单总数统计 -->
                <div class="panel mt-10">
                    <div class="panel-header">
                        <i class="i-circular"></i>关注人数统计
                        <span class="info">新增会员</span>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group pos-a" style="z-index:2">
                            <span class="btn btn-primary radius" onclick="userCharts.t(this)">今日</span>
                            <span class="btn btn-default radius" onclick="userCharts.y(this)">昨日</span>
                            <span class="btn btn-default radius" onclick="userCharts.w(this)">本周</span>
                            <span class="btn btn-default radius" onclick="userCharts.m(this)">本月</span>
                        </div>
                        <div id="user-charts" style="width:100%;height:203px;"></div>
                    </div>
                </div>
                <!-- /订单总数统计 -->
            </div>
            <div class="col-lg-4  mt-20">
                <!-- 商家帮助 -->
                <div class="panel">
                    <div class="panel-header">
                        <i class="i-circular"></i>商家帮助
                        <span class="info">您需要的商家帮助</span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row cl text-c">
                                            <a href="{:U('product/index')}">
                                                <div class="col-lg-12">
                                                    <img src="__PUBLIC__/admin/images/goods_management.png" alt="商品管理" title="商品管理">
                                                </div>
                                                <div class="col-lg-12">商品管理</div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row cl text-c">
                                            <a href="{:U('Brand/index')}">
                                                <div class="col-lg-12">
                                                    <img src="__PUBLIC__/admin/images/promotions.png" alt="品牌管理" title="品牌管理">
                                                </div>
                                                <div class="col-lg-12">品牌管理</div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row cl text-c">
                                            <a href="{:U('Category/index')}">
                                                <div class="col-lg-12">
                                                    <img src="__PUBLIC__/admin/images/order_after.png" alt="分类管理" title="分类管理">
                                                </div>
                                                <div class="col-lg-12">分类管理</div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /商家帮助 -->

                <!-- 销量统计 -->
                <div class="panel mt-10">
                    <div class="panel-header">
                        <i class="i-circular"></i>销售情况统计按周期统计
                        <span class="info">商家店铺的订单量和订单金额</span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="f-14" colspan="2">昨日销量</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row cl text-c">
                                            <div class="col-lg-12 count">
                                                {$yesterdayCount}
                                            </div>
                                            <div class="col-lg-12 count-title">订单量(件)</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row cl text-c">
                                            <div class="col-lg-12 count">
                                                {$yesterdayAmount}
                                            </div>
                                            <div class="col-lg-12 count-title">订单金额(元)</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table list-shop-table">
                            <thead>
                                <tr>
                                    <td class="f-14" colspan="2">本月销量</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="50%">
                                        <div class="row cl text-c">
                                            <div class="col-lg-12 count">
                                                {$monthCount}
                                            </div>
                                            <div class="col-lg-12 count-title">订单量(件)</div>
                                        </div>
                                    </td>
                                    <td width="50%">
                                        <div class="row cl text-c">
                                            <div class="col-lg-12 count">
                                                {$monthAmount}
                                            </div>
                                            <div class="col-lg-12 count-title">订单金额(元)</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /销量统计 -->

                <!-- 商品排行榜 -->
                <div class="panel mt-10">
                    <div class="panel-header">
                        <i class="i-circular"></i>单品销售排名
                        <span class="info">按周期统计的订单量和商品总和</span>
                    </div>
                    <div class="panel-body">
                        <table class="table table-border list-shop-table">
                            <thead>
                                <tr>
                                    <td width="15%" class="f-14 text-c">排行</td>
                                    <td width="70%" class="f-14 text-l">商品信息</td>
                                    <td width="15%" class="f-14 text-c">销量</td>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="topList" id="vo">
                                    <tr>
                                        <td class=" text-c
                                        <if condition=" $key eq 0 "> f-18 c-red
                                            <elseif condition="$key eq 1 "/>f-16 c-orange
                                            <elseif condition="$key eq 2 "/>f-14 c-blue
                                        </if>
                                        ">
                                            <strong>{$key + 1}</strong>
                                        </td>
                                        <td class="table-ellipsis f-14" title="{$vo.name}">{$vo.name}</td>
                                        <td class="text-c 
                                        <if condition=" $key eq 0 "> f-18  c-red
                                                <elseif condition="$key eq 1 "/>f-16 c-orange
                                                <elseif condition="$key eq 2 "/>f-14 c-blue
                                        </if>
                                        ">
                                            <strong>{$vo.count}</strong>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /商品排行榜 -->
            </div>
        </div>
        <!-- /第二行 -->

        <!-- 服务器信息 -->
        <table class="table table-border table-bordered table-bg mt-20 list-shop-table">
            <thead>
                <tr>
                    <th colspan="4" scope="col">
                        <i class="Hui-iconfont Hui-iconfont-system"></i> 服务器信息</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="10%" class="active" style="text-align: right;font-size:14px;">服务器操作系统</td>
                    <td width="40%">{:php_uname('s')}</td>
                    <td width="10%" class="active" style="text-align: right;font-size:14px;">服务器域名/IP</td>
                    <td width="40%">{:$_SERVER["HTTP_HOST"]} [{$_SERVER['REMOTE_ADDR']}]</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: right;font-size:14px;">服务器环境</td>
                    <td>{:$_SERVER['SERVER_SOFTWARE']}</td>
                    <td class="active" style="text-align: right;font-size:14px;">PHP版本 </td>
                    <td>{:PHP_VERSION}</td>
                </tr>
                <tr>
                    <td class="active" style="text-align: right;font-size:14px;">文件上传限制</td>
                    <td>2M</td>
                    <td class="active" style="text-align: right;font-size:14px;">运行端口</td>
                    <td>{:$_SERVER['SERVER_PORT']}</td>
                </tr>
            </tbody>
        </table>
        <!-- /服务器信息 -->
    </div>
    <!-- echarts 加载和请求数据 -->
    <script src="__PUBLIC__/admin/lib/echarts/echarts.common.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/welcome.js"></script>
    <script>
        var orderCharts = ChartsData();
        orderCharts.init('order-charts', "{:U('Page/orderChartsData')}");
        window.onresize = myChart.resize; //图表自适应窗口大小

        var userCharts = ChartsData();
        userCharts.init('user-charts', "{:U('Page/userChartsData')}");

    </script>
</body>

</html>