<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/lib/malihu-custom-scrollbar/jquery.mCustomScrollbar.min.css">
    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!-- <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jCalendar.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.XYTipsWindow.min.2.8.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/mydate.js"></script> -->
    <link href="__PUBLIC__/admin/css/order.css" rel="stylesheet" type="text/css" />
    <style>
        .layui-table-cell {
            height: inherit;
        }

        .layui-table-cell a {
            text-decoration: none;
        }
    </style>
    <title>全部订单</title>
</head>

<body>
    <!-- 导航 -->
    <include File='Page/nav' />
    <!-- /导航 -->
    <div class="page-container">
        <div class="panel panel-default mt-40">
            <div class="panel-header">{$bc[1]}</div>
            <div class="panel-body">
                <div class="row cl">
                    <div class="col-sm-10 ">
                        <form class="layui-form" action="">
                            <div class="layui-inline">
                                <!-- 支付类型 -->
                                <div class="layui-input-inline" style="width: 260px;">
                                    <select class="lay-search" name="type" id="type" lay-filter="type" lay-search lay-verify="cateid">
                                        <option value>配送方式</option>
                                        <option value="weixin">配送到家</option>
                                        <option value="cash">店内自提</option>
                                    </select>
                                </div>
                                <!-- /支付类型 -->

                                <!-- 订单状态 -->
                                <div class="layui-input-inline" style="width: 260px;">
                                    <select class="lay-search" name="pay_status" id="pay_status" lay-filter="pay_status" lay-search lay-verify="cateid">
                                        <option value>订单状态</option>
                                        <foreach name="order_status" item="vo">
                                            <option value="{$key}">{$vo}</option>
                                        </foreach>
                                        <option value="1">申请退款</option>
                                        <option value="2">已退款</option>
                                    </select>
                                </div>
                                <!-- /订单状态 -->

                                <div class="layui-input-inline" style="width: 260px;">
                                    <input type="text" name="tel" placeholder="收货手机号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline" style="width: 260px;">
                                    <input type="text" name="order_sn" placeholder="订单号" autocomplete="off" class="layui-input">
                                </div>

                                <button class="layui-btn layui-btn-normal" lay-submit name="submit" lay-filter="*">
                                    <i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                                <!-- <input class="btn btn-primary radius" type="submit" name="submit" lay-submit lay-filter="*" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"> -->
                            </div>
                        </form>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <table id="demo" lay-filter="test" lay-data="{id: 'idTest'}"></table>

            </div>
        </div>
    </div>

    <!-- 底部 -->
    <include File='Page/footer' />
    <!-- /底部 -->
    <script type="text/javascript" src="__PUBLIC__/admin/lib/malihu-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>


    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-sm" href="{:U('show')}?oid={{d.id}}">查看</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
        <!-- <a class="layui-btn layui-btn-normal layui-btn-sm" onclick="openDialog2()">测试用</a> -->
        {{# if(d.back == 1){ }}
        <a class="layui-btn layui-btn-normal layui-btn-sm" data-did="{{d.id}}" onclick="oo(this)">确认退款</a>
        <!-- <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="del">确认退款</a> -->
        {{# } }}
    </script>
    <script type="text/html" id="typeTpl">
        {{# if(d.back == 1){ }}
        <font style="color:red">申请退款</font>
        {{# }else if(d.back == 2){ }}
        <font style="color:#900">已退款</font>
        {{# }else{ }}
        <font class='font_color'>
            {{d.status}}
        </font>
        {{# } }}
    </script>
    <script type="text/html" id="delivery">
        {{# if(d.type == "weixin"){ }}  
        <font style="color:#009688">配送到家</font>
        {{# }else{ }}
        <font style="color:#1E9FFF">店内自提</font>
        {{# } }}
    </script>

    <script>
        var table = layui.table;
        var form = layui.form;
        var order_status;

        /*=============================================
        =            头部检索表单提交                  =
        =============================================*/

        form.on('submit(*)', function (data) {
            //console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            var field = data.field;
            //console.log(field);
            if (field.type != " " || field.pay_status != ' ' || field.tel != ' ' || field.order_sn != ' ') {
                tableIns.reload({
                    url: "{:U('Order/getOrders')}",
                    where: { //设定异步数据接口的额外参数，任意设
                        type: field.type,
                        pay_status: field.pay_status,
                        tel: field.tel,
                        order_sn: field.order_sn
                    }
                });
                field = "";
            } else {
                tableIns.reload({
                    url: "{:U('Order/getOrders')}"
                });
            }
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        /*=====  End of 头部检索表单提交  ======*/

        /*=============================================
        =            渲染实例            =
        =============================================*/

        var tableIns = table.render({
            elem: '#demo',
            height: 'full-290',
            url: "{:U('Order/getOrders')}",
            where: { //设定异步数据接口的额外参数，任意设
                pay_status: '{$pay_status}',
            },
            page: true,
            limit: 20,
            cellMinWidth: 80,
            cols: [
                [{
                    field: 'id',
                    title: 'ID',
                    width: '7%',
                    align: 'center',
                    sort: true,
                }, {
                    field: 'u_name',
                    title: '买家',
                    //width: '20%',
                    align: 'center',
                }, {
                    field: 'order_sn',
                    title: '订单号',
                    //width: '20%',
                    align: 'center',
                }, {
                    field: 'price',
                    title: '总金额',
                    //width: '20%',
                    sort: true,
                    align: 'center',
                }, {
                    field: 'type',
                    title: '配送方式',
                    //width: '20%',
                    align: 'center',
                    templet: "#delivery"
                    // templet: function (d) {
                    //     var r = d.type == "weixin" ? "配送到家" : "店内自提";
                    //     return r;
                    // }
                }, {
                    field: 'back',
                    title: '订单状态',
                    //width: '15%',
                    align: 'center',
                    templet: "#typeTpl"
                }, {
                    field: 'addtime',
                    title: '订单时间',
                    //width: '15%',
                    align: 'center',
                    sort: true,
                    templet: function (d) {
                        Date.prototype.toLocaleString = function () {
                            return this.getFullYear() + "-" + (this.getMonth() + 1) + "-" +
                                this.getDate() + "  " + this.getHours() + ":" + this.getMinutes() +
                                ":" + this.getSeconds();
                        };
                        return new Date(d.addtime * 1000).toLocaleString();
                    }
                }, {
                    field: 'cz',
                    title: '操作',
                    //width: '14%',
                    toolbar: '#barDemo'
                }]
            ],
            done: function (res, curr, count) {
                //数据渲染完的回调 
                //console.log(res);
                //原本打算用switch但失败 
                //而且即使用了 也是把后台对照每个写一遍 毫无意义 还不如直接前台对比写
                order_status = res.data.order_status;
                $(".layui-table-box .layui-table-body").mCustomScrollbar({
                    theme: "minimal-dark",
                    autoHideScrollbar: true,
                });
                //订单状态字体颜色设置
                $('.font_color').each(function (index, element) {
                    var obj = $(this);
                    //console.log(obj.html());
                    if (obj.html() == 0) {
                        obj.html('已取消');
                        obj.css('color', '#063559');
                    } else if (obj.html() == 10) {
                        obj.html('待付款');
                        obj.css('color', '#063559');
                    } else if (obj.html() == 20) {
                        obj.html('待发货');
                        obj.css('color', '#f37b1d');
                    } else if (obj.html() == 30) {
                        obj.html('已发货');
                        obj.css('color', '#090');
                    } else if (obj.html() == 40) {
                        obj.html('已收货');
                        obj.css('color', '#063559');
                    } else if (obj.html() == 50) {
                        obj.html('交易完成');
                        obj.css('color', '#090');
                    } else if (obj.html() == 51) {
                        obj.html('交易关闭');
                        obj.css('color', '#900');
                    }
                });
            },
        });

        /*=====  End of 渲染实例  ======*/


        /*=============================================
        =            监听单元点击更新属性              =
        =============================================*/

        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            //删除
            if (layEvent === 'del') { //删除
                layer.confirm('确认删除吗？', function (index) {
                    layer.close(index);
                    //向服务端发送删除指令
                    var url = "{:U('del')}?did=" + data.id;
                    $.ajax(url, {
                        method: 'GET',
                        dataType: 'json',
                        success: function (e) {
                            //console.log(e);
                            if (e.code) {
                                layer.msg(e.msg, {
                                    icon: 2
                                });
                            } else {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });
            }
        });

        function oo(obj) {
            let did = $(obj).data("did");
            layer.confirm('确认ID: ' + did + ' 的订单退款吗？', function (index) {
                layer.close(index);
                //向服务端发送删除指令
                location.href = "{:U('back')}?oid=" + did;
            });
        }

        /*=====  End of 监听单元点击更新属性  ======*/


        // //搜索按钮点击事件
        // function product_option() {
        //     $('form').submit();
        // }

        // //打印订单 不过现在内容是错误的
        // function openDialog() {
        //     //alert('aaa');die();
        //     location = "{:U('Inout/expOrder')}";
        // }
        // //这两个现在都不好使
        // function openDialog2() {
        //     var shop_id = $('#shop_id').val();
        //     var type = $('#type').val();
        //     var status = $('#status').val();
        //     var start_time = $('#start_time').val();
        //     var end_time = $('#end_time').val();
        //     //alert('aaa');die();
        //     location = "{:U('Inout/expOrder')}?shop_id=" + shop_id + "&type=" + type + "&status=" + status +
        //         "&start_time=" + start_time + '&end_time=' + end_time;
        // }



        // //选择商家按钮事件
        // function win_open(url, width, height) {

        //     height == null ? height = 600 : height;
        //     width == null ? width = 800 : width;
        //     var myDate = new Date()
        //     window.open(url, 'newwindow' + myDate.getSeconds(), 'height=' + height + ',width=' + width);
        // }

        //订单删除方法
        function del_id_url(id) {
            // if (confirm("确认删除吗？")) {
            //     location = '{:U("del")}?did=' + id;
            // }
            layer.confirm('确认删除吗？', function (index) {
                location = '{:U("del")}?did=' + id;
            });
        }
    </script>

</body>

</html>