<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/lib/webuploader/0.1.5/webuploader.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/lib/layui/css/layui.css">
    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
    <script type="text/javascript" src="__PUBLIC__/plugins/xheditor/xheditor-1.2.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/plugins/xheditor/xheditor_lang/zh-cn.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jCalendar.js"></script>
    <script src="https://unpkg.com/wangeditor@3.0.15/release/wangEditor.min.js"></script>

    <!-- 开关按钮的样式和js  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js" integrity="sha256-AKUJYz2DyEoZYHh2/+zPHm1tTdYb4cmG8HC2ydmTzM4="
        crossorigin="anonymous"></script>

    <style>
        <?php $width=round($img['width']*0.6+6);
        $height=round( $width*$img['height'] / $img['width']);
        ?>li {
            list-style-type: none;
        }

        #content {
            width: 770px;
            height: 300px;
        }

        /* 隐藏layui开关按钮多余样式 */

        .switch>.layui-form-checkbox {
            display: none !important;
            visibility: hidden !important;
        }


        /* .switch > .layui-icon{
            display: none !important;
            visibility:hidden  !important ;

        } */

        /* .has-switch>div.switch-on {
            display: none;
        } */

        /* .dx1 {
            float: left;
            margin-left: 17px;
            margin-bottom: 10px;
        }

        .dx2 {
            color: #090;
            font-size: 16px;
            border-bottom: 1px solid #CCC;
            width: 100% !important;
            padding-bottom: 8px;
        }

        .dx3 {
            width: 120px;
            margin: 5px auto;
            border-radius: 2px;
            border: 1px solid #b9c9d6;
            display: block;
        }

        .dx4 {
            border-bottom: 1px solid #eee;
            padding-top: 5px;
            width: 100%;
        }

        .img-err {
            position: relative;
            top: 2px;
            left: 82%;
            color: white;
            font-size: 20px;
            border-radius: 16px;
            background: #c00;
            height: 21px;
            width: 21px;
            text-align: center;
            line-height: 20px;
            cursor: pointer;
        }

        .btn {
            height: 25px;
            width: 60px;
            line-height: 24px;
            padding: 0 8px;
            background: #24a49f;
            border: 1px #26bbdb solid;
            border-radius: 3px;
            color: #fff;
            display: inline-block;
            text-decoration: none;
            font-size: 13px;
            outline: none;
            -webkit-box-shadow: #666 0px 0px 6px;
            -moz-box-shadow: #666 0px 0px 6px;
        }

        .btn:hover {
            border: 1px #0080FF solid;
            background: #D2E9FF;
            color: red;
            -webkit-box-shadow: rgba(81, 203, 238, 1) 0px 0px 6px;
            -moz-box-shadow: rgba(81, 203, 238, 1) 0px 0px 6px;
        }

        .cls {
            background: #24a49f;
        } */

        #commentForm .layui-form-label {
            text-align: left;
        }
    </style>

    <title>添加产品</title>
</head>

<body>
    <!-- 导航 -->
    <include File='Page/nav' />
    <!-- /导航 -->
    <div class="page-container cl">
        <div class="panel panel-default mt-40">
            <div class="panel-header">{$bc[1]}</div>
            <div class="panel-body">
                <form id="commentForm" class="form form-horizontal layui-form" action="?id={$id}&page={$page}&type={$type}&name={$name}&shop_id={$shop_id}"
                    method="post" enctype="multipart/form-data">

                    <!-- 商品名称 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">商品名称：</label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text" placeholder="商品名称" name="name" id="name" value="{$pro_allinfo.name}" minlength="2"
                                required>
                        </div>
                        <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label>
                    </div>
                    <!-- /商品名称 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 商品分类  -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">选择分类：</label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4">
                            <div class="layui-inline">
                                <div class="layui-input-inline" style="width: 260px;">
                                    <select class="lay-search" name="cateid" id="cateid" lay-filter="cid_1" lay-search lay-verify="cateid">
                                        <option value>一级分类</option>
                                        <volist name="cate_list" id="v">
                                            <option value="{$v.id}" <if condition="$v.id eq $pro_allinfo['tid']">selected="selected"</if>>-- {$v.name}</option>
                                        </volist>
                                    </select>
                                </div>

                                <div class="layui-input-inline" style="width: 260px;">
                                    <?php if($catetwo) { ?>
                                    <select class="inp_1" name="cid" id="cid" lay-filter="cid_2" lay-search lay-verify="cateid">
                                        <option value>二级分类</option>
                                        <volist name="catetwo" id="v">
                                            <option value="{$v.id}" <if condition="$v.id eq $pro_allinfo['cid']">selected="selected"</if>>-- {$v.name}</option>
                                        </volist>
                                    </select>

                                    <?php } else { ?>
                                    <select class="inp_1" name="cid" id="cid" lay-filter="cid_2" lay-search lay-verify="cateid">
                                        <option value>二级分类</option>
                                    </select>
                                    <?php } ?>
                                </div>
                            </div>
                            <span class="help-block ">
                                <i class="Hui-iconfont c-danger">&#xe6e0;</i>
                                <cite class="c-999">必选项.没有二级栏目,请先添加二级栏目,否则无法发布</cite>
                            </span>
                        </div>
                        <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label>
                    </div>
                    <!-- /商品分类 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 商品品牌 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">选择品牌: </label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4">
                            <select name="brand_id" id="brand_id">
                                <!-- 遍历 -->
                                <option value="">选择品牌</option>
                                <volist name="brand_list" id="v">
                                    <option value="{$v.id}" <if condition="$v.id eq $pro_allinfo['brand_id']">selected="selected"</if>>-- {$v.name}</option>
                                </volist>
                                <!-- 遍历 -->
                            </select>
                        </div>
                    </div>
                    <!-- /商品品牌 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 单位 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">单 位: </label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text" placeholder="单 位" name="company" id="company" value="{$pro_allinfo.company}">
                            <span class="help-block ">
                                <i class="Hui-iconfont c-danger">&#xe6e0;</i>
                                <cite class="c-999">&nbsp;&nbsp;举例:个/只/件&nbsp;&nbsp;请根据产品来自行添加相应单位</cite>
                            </span>
                        </div>
                    </div>
                    <!-- /单位 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 原价 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">原 价：</label>
                        </div>

                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text " placeholder="原 价" name="price" id="price" value="{$pro_allinfo.price}">
                        </div>
                        <!-- <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label> -->
                    </div>
                    <!-- /原价 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 优惠价 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">优惠价：</label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text number" placeholder="优惠价" name="price_yh" id="price_yh" value="{$pro_allinfo.price_yh}"
                                required>
                        </div>
                        <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label>
                    </div>
                    <!-- /优惠价 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 销量 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">销量：</label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text" placeholder="销量" name="shiyong" id="shiyong" value="{$pro_allinfo.shiyong}">
                        </div>
                    </div>
                    <!-- /销量 -->

                    <div class="hr-line-dashed"></div>

                    <!-- <div class="row cl">
                        <label class="text-l ml-50  col-xs-4 col-sm-2">
                            <span class="c-red">*</span>赠送积分：</label>
                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text" placeholder="赠送积分" name="price_jf" id="price_jf" value="{$pro_allinfo.price_jf}">
                        </div>
                    </div> -->

                    <!-- 产品编号 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">商品编号：</label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text number" placeholder="产品编号" name="pro_number" id="pro_number" value="{$pro_allinfo.pro_number}"
                                required>
                        </div>
                        <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label>
                    </div>
                    <!-- /产品编号 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 原产地 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">原产地：</label>
                        </div>

                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text" placeholder="原产地" name="intro" id="intro" value="{$pro_allinfo.intro}">
                        </div>
                    </div>
                    <!-- /原产地 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 库存 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">库存：</label>
                        </div>

                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text number" placeholder="库存" name="num" id="num" value="<?php echo $pro_allinfo['num']==0 ? 999999 : $pro_allinfo['num']; ?>"
                                required>
                        </div>
                        <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label>
                    </div>
                    <!-- /库存 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 缩略图 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">缩略图：</label>
                        </div>

                        <div class="formControls col-xs-8 col-sm-4">
                            <?php if ($pro_allinfo['photo_x']) { ?>
                            <img src="__DATA__/<?php echo $pro_allinfo['photo_x']; ?>" width="80" height="80" style="margin-bottom: 3px;" />
                            <br />
                            <?php } ?>
                            <span class="btn-upload form-group">
                                <input class="input-text upload-url radius" type="text" name="uploadfile-1" id="uploadfile-1" readonly>
                                <a href="javascript:void();" class="btn btn-primary radius">
                                    <i class="layui-icon">&#xe64a;</i> 浏览文件</a>
                                <input type="file" name="photo_x" id="photo_x" class="input-file" lay-verify="upImg">
                            </span>
                            <span class="help-block ">
                                <i class="Hui-iconfont c-danger">&#xe6e0;</i>
                                <cite class="c-999">必填项! 图片大小230*230</cite>
                            </span>
                        </div>
                        <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label>
                    </div>
                    <!-- /缩略图 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 大图 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">大 图：</label>
                        </div>

                        <div class="formControls col-xs-8 col-sm-4">
                            <?php if ($pro_allinfo['photo_d']) { ?>
                            <img src="__DATA__/<?php echo $pro_allinfo['photo_d']; ?>" width="125" height="125" style="margin-bottom: 3px;" />
                            <br />
                            <?php } ?>
                            <span class="btn-upload form-group">
                                <input class="input-text upload-url radius" type="text" name="uploadfile-1" id="uploadfile-1" readonly>
                                <a href="javascript:void();" class="btn btn-primary radius">
                                    <i class="layui-icon">&#xe64a;</i> 浏览文件</a>
                                <input type="file" name="photo_d" id="photo_d" class="input-file" lay-verify="upImg">
                            </span>
                            <span class="help-block ">
                                <i class="Hui-iconfont c-danger">&#xe6e0;</i>
                                <cite class="c-999">必填项! 图片大小600*600</cite>
                            </span>
                        </div>
                        <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label>
                    </div>
                    <!-- 大图 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 轮播图 -->
                    <div class="row cl">
                        <label class="text-l ml-50  col-xs-4 col-sm-2">
                            <span class="c-red">*</span>上传产品详情轮播图: 600*600的图片</label>
                        <div class="formControls col-xs-8 col-sm-4">
                            <?php if (is_array($img_str)) { ?>
                            <li>
                                <div class="d1">已上传：</div>
                                <?php foreach ($img_str as $v) { ?>
                                <div>
                                    <div class="img-err" title="删除" onclick="del_img('<?php echo $v; ?>',this);">×</div>
                                    <img src="<?php echo '__DATA__/'.$v; ?>" width="125" height="125">
                                </div>
                                <?php } ?>
                            </li>
                            <?php } ?>
                            <li id="imgs_add">
                                <div class="d1">轮播图:</div>
                                <div>
                                    <input type="file" name="files[]" style="width:160px;" />
                                </div>
                            </li>
                            <li>
                                <div class="d1">&nbsp;</div>
                                <div>
                                    &nbsp;
                                    <span class="btn cls" style="background:#D0D0D0; width:40px; color:black;" onclick="upadd();">添加</span>
                                </div>
                            </li>
                        </div>
                    </div>
                    <!-- 轮播图 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 产品介绍 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">产品介绍：</label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-6">
                            <div id="editor">
                                <p>222</p>
                                {$pro_allinfo.content}
                            </div>
                            <textarea id="text1" style="width:100%; height:200px;">本地测试产品（勿拍，不发货）</textarea>
                            <!-- <textarea lay-ignore name="content" id="content" required/>{$pro_allinfo.content}</textarea> -->
                        </div>
                        <label class="layui-form-label">
                            <span class="c-red text-l">*</span>
                        </label>
                    </div>
                    <!-- /产品介绍 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 人气 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">人气：</label>
                        </div>

                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text" placeholder="人气" name="renqi" id="renqi" value="<?php echo (int)$pro_allinfo['renqi']; ?>">
                        </div>
                    </div>
                    <!-- /人气 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 新上市 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">新上市：</label>
                        </div>

                        <div class="formControls col-xs-8 col-sm-4">
                            <div class="switch switch-large" data-on-label="是" data-off-label="否">
                                <input name="is_show" type="checkbox" value="1" <?php echo $pro_allinfo[ 'is_show']==1 ? 'checked="checked"' : null?> />
                            </div>
                            <!-- <input class="layui-btn layui-btn-normal" type="radio" name="is_show" value="1" <?php echo $pro_allinfo[ 'is_show']==1 ?
                                'checked="checked"' : null?>/> 是 &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="is_show" value="0" <?php echo $pro_allinfo[ 'is_show']!=1 ? 'checked="checked"' : null?> /> 否 -->
                        </div>
                    </div>
                    <!-- /新上市 -->

                    <div class="hr-line-dashed"></div>

                    <!-- 热销产品 -->
                    <div class="row cl">
                        <div class="col-xs-4 col-sm-2 ml-30">
                            <label class="layui-form-label">热销产品: </label>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4 ">
                            <div class="switch switch-large" data-on-label="是" data-off-label="否">
                                <input name="is_hot" type="checkbox" value="1" <?php echo $pro_allinfo[ 'is_hot']==1 ? 'checked="checked"' : null?> />
                            </div>
                            <!-- <input type="radio" name="is_hot" value="1" <?php echo $pro_allinfo[ 'is_hot']==1 ? 'checked="checked"' : null?>/> <label class="layui-form-label">是</label>  &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="is_hot" value="0" <?php echo $pro_allinfo[ 'is_hot']!=1 ? 'checked="checked"' : null?> /> 否
                         -->
                        </div>
                    </div>
                    <!-- /热销产品 -->

                    <div class="hr-line-dashed"></div>

                    <!-- <div class="row cl">
                        <label class="text-l ml-50  col-xs-4 col-sm-2">
                            <span class="c-red">*</span>品牌图片，图片大小120*120</label>
                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="file" name="file" id="file" value="">
                        </div>
                    </div> -->


                    <div class="row cl">
                        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="btn btn-primary radius" type="submit" name="submit" lay-submit lay-filter="*" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                            <input type="hidden" name="pro_id" id='pro_id' value="{$pro_allinfo.id}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- 底部 -->
    <include File='Page/footer' />
    <!-- /底部 -->

    <script type="text/javascript" src="__PUBLIC__/admin/js/product.js"></script>


    <script>
        /*----------  单个input验证 不会像layui 验证弹出提示 ----------*/
        $(function () {
            $("#commentForm").validate();
            var pn = $("#pro_number").val();
            if (pn == "" || pn == 0) {
                var v = Math.round(new Date().getTime() / 10000);
                $("#pro_number").val(v);
            }

            // // //初始化编辑器
            // $('#content').xheditor({
            //     skin: 'nostyle',
            //     upImgUrl: '{:U("Upload/xheditor")}'
            // });
        })


        /*=============================================
        =            富文本编辑及上传图片                 =
        =============================================*/

        var E = window.wangEditor
        var editor = new E('#editor')
        // 或者 var editor = new E( document.getElementById('editor') )
        // 配置服务器端地址
        editor.customConfig.uploadImgServer = '{:U("Upload/contentImage?flag=test")}'
        //editor.customConfig.uploadImgServer = '{:U("Public/UploadImage?flag=test")}';
        // 将图片大小限制为 3M
        editor.customConfig.uploadImgMaxSize = 2 * 1024 * 1024;
        // 限制一次最多上传 15 张图片
        editor.customConfig.uploadImgMaxLength = 15;

        editor.customConfig.uploadImgHooks = {
            success: function (xhr, editor, result) {
                // 图片上传并返回结果，图片插入成功之后触发
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
                // console.log(xhr);
                // console.log(editor);
                // console.log(result);
            },
            fail: function (xhr, editor, result) {
                alert(插入错误);
                console.log(xhr);
                console.log(editor);
                console.log(result);
                // 图片上传并返回结果，但图片插入错误时触发
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
            },
            error: function (xhr, editor) {
                // 图片上传出错时触发
                console.log(xhr);
                console.log(editor);
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
            },
            timeout: function (xhr, editor) {
                // 图片上传超时时触发
                alert("上传超时!");
                console.log(xhr);
                console.log(editor);
                // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
            },
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            // （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
            // customInsert: function (insertImg, result, editor) {
            //     console.log(insertImg);
            //     console.log(editor);
            //     console.log(result);
            //     // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
            //     // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
            //     var url = '/Data/UploadFiles/'+result.data.savepath+result.data.savename;
            //     // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
            //     //var url = result.url
            //     insertImg(url)

            //     // result 必须是一个 JSON 格式字符串！！！否则报错
            // }
        }
        var $text1 = $('#text1');
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        }
        editor.create();
        // 初始化 textarea 的值
        $text1.val(editor.txt.html())
        /*=====  End of 富文本编辑及上传图片 ======*/




        /*=============================================
        =            分类二级联动                      =
        =============================================*/
        var form = layui.form;
        form.on('select(cid_1)', function (data) {
            var cateid = data.value;
            $.post('{:U("getcid")}', {
                cateid: cateid,
                async: false,
            }, function (data) {
                if (data.catelist != '') {
                    var htmls = '<option value="">二级分类</option>';
                    var cate = data.catelist;

                    $(cate).each(function (v, k) {
                        htmls += "<option value='" + k.id + "'>" + k.name +
                            "</option>";
                    });

                    $('#cid').html(htmls);
                    form.render('select'); //这里只有这么写才可以 看来某些东西冲突了
                } else {
                    $('#cid').html('<option value="">二级分类</option>');
                    form.render('select');
                }
            }, "json");
        });
        /*=====  End of 分类二级联动  ======*/


        /*=============================================
        =            表单自定义验证                    =
        =============================================*/
        //自定义验证规则  
        form.verify({
            cateid: function (value) {
                if (value == "") {
                    //滚动到指定元素位置 //可能是因为iframe的关系 只能指定高度了 而不能指定元素
                    //console.log($("#cid").offset().top);
                    $('html, body').scrollTop(100);
                    return "必须选择栏目";
                }
            },
            upImg: function (value) {
                if (value == "") {
                    return "请先上传图片!";
                }
            },

        });

        //提交监听事件    //没这个是不行的 否则自定义验证不生效
        form.on('submit(*)', function (data) {
            //这先留着 查看提交数据用
            console.log(data.field);
            return false;
        });
        /*=====  End of 表单自定义验证  ======*/


        function upadd(obj) {
            $('#imgs_add').append(
                '<div>&nbsp;&nbsp;<input type="file" style="width:160px;" name="files[]" /><a onclick="$(this).parent().remove();" class="btn cls" style="background:#D0D0D0; width:40px; color:black;"">删除</a></div>'
            );
            return false;
        }

        //图片删除
        function del_img(img, obj) {
            var pro_id = $('#pro_id').val();
            if (confirm('是否确认删除？')) {
                $.post('{:U("img_del")}', {
                    img_url: img,
                    pro_id: pro_id
                }, function (data) {
                    if (data.status == 1) {
                        $(obj).parent().remove();
                        return false;
                    } else {
                        alert(data.err);
                        return false;
                    }
                }, "json");
            };
        }
    </script>

</body>

</html>