<style>
    .footer-new {
        border-top: 1px solid #e8e8e8;
        padding: 5px 0;
        font-family: tahoma, Arial;
        font-size: 12px;
        /* color: #999; */
        color: rgb(207, 210, 212);
        line-height: 22px;
        text-align: center;
        background-color: #fff;
    }
</style>

<footer class="footer-new mt-5">
    <div class="container-fluid">
        <p>Copyright &copy;2018 环球集市 All Rights Reserved.
        </p>
    </div>
</footer>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="__PUBLIC__/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script src="__PUBLIC__/admin/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layui/layui.all.js"></script>